<div class="px-4 py-5 my-5 ">
    <center><h1 class="display-5 fw-bold">Контакты</h1></center>
    <div class="col-lg-6 mx-auto">
        <ul>
            <li>Номер: 87085964123</li>
            <li>WhatsApp: 87085964123</li>
            <li>Telegram: gadzhi_gadhziev</li>
            <li>E-mail: gadzhievgadzhi18@gmail.com</li>
        </ul>
    </div>
</div>