<center>
    <form action="@Url.Action("LoginConfirmation","Auth", new { isClickedLoginButton = true })" method="post" class="form-inline">
        <h5>Для продолжения вам необходимо авторизоваться</h5>
        <button type="submit" class="btn btn-primary mb-2">Войти(через Google)</button>
        <a href="/home/index"><button type="button" class="btn btn-primary mb-2">На главную страницу</button></a>
    </form>
</center>